.App {
  text-align: center;
  
}
:root{
  background-color: #282c34;
  --main-text-color:white;

}

@keyframes appear {
  from {opacity:0%}
  to {opacity:100%}

}

.text{
  color:var(--main-text-color);
  font-family: "Times New Roman", Times, serif;
   text-overflow: ellipsis; 
   white-space:nowrap; 
   word-wrap:break-word;
  overflow:hidden;

}
.searchText{
  color:var(--main-text-color);
  font-family: "Times New Roman", Times, serif;

}
button{
  height:30px;
  background-color:transparent;
  border-style:solid;
  border-color:var(--main-text-color);
  border-radius:5px;
  color:var(--main-text-color);

}

img{
  max-height:60%;
  max-width:95%;
}

.displayBox{
  margin-top:0.5vh;
  display:flex;
  gap:3px
}

.empty{
  position:relative;

  
}
.icon{
  position:absolute;
  top:40%;
  left:40%;
}

.searchDisplayCard{
  width:20vw;
  /* height:40vh; */
  margin:5px auto;
  animation:appear 5s 1;
  padding:5px;
  border-style:solid;
  border-width:2px;
  border-color:var(--main-text-color);
  border-radius:10px;
  

}


.App-header {
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--main-text-color);
  margin-top:5vh;
}
.text{
  margin:0 20px;
  font-style:tisa;
}

@media screen and (min-width: 601px) {
  .title {
    font-size: 80px;
    width:100vw;
    margin-top:5px;
  }
}
@media screen and (max-width: 601px) {
  .title {
    font-size: 30px;
    width:100vw;
    margin:10px;
  }
}



input#searchBar{
  margin-top:10%;
  min-width:60%;
  height:25px;
  border-width:1px;
  padding:2px 5px;
}
input#linkBar{
  min-width:30%;
  height:25px;
}

button:disabled,
button[disabled]{
  color: #666666;
  border-color:#666666;
}

.nominationSection{
  margin:5px;
  gap:3px;
  display:flex;

}


@keyframes drop {
  from {height:20vh}
  to {height:30vh}

}
.nomicard{
  padding-top:20px;
  width:20vw;
  height:20vh;
  text-align: center;
  color:var(--main-text-color);
  animation:appear 2s 1;
  border-style:solid;
  border-color:var(--main-text-color);
  border-radius:5px;

}
.nomifull{
  padding:5px;
  width:20vw;
  height:45vh;
  text-align: center;
  color:var(--main-text-color);
  border-style:solid;
  border-color:var(--main-text-color);
  border-radius:5px;

}